{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>Penguin Classifier</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style8.css' %}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="filter-container hidden">
		<div class="filter-inner">
			<h3 class="title">Penguin Classifier</h3>
			<form method="POST" class="filter-form" id="filter-form">
				<div class="input-container">
					<h4>Island:</h4>
					<div class="radio-layout">
						<label>
							<input type="radio" name="island" value="Torgersen">
							<span class="radio-label"><span>Torgersen</span></span>
						</label>

						<label>
							<input type="radio" name="island" value="Biscoe">
							<span class="radio-label"><span>Biscoe</span></span> 
						</label>

						<label>
							<input type="radio" name="island" value="Dream">
							<span class="radio-label"><span>Dream</span></span> 
						</label>
					</div>
				</div>
				<hr>
				<div class="input-container">
					<h4>Bill Length (mm):</h4>
					<div class="slide-container">
						<input type="range" min="0" max="100" value="50" class="slider" name="bill_length_mm">
						<div class="value"></div>
						<span class="tooltip">50</span>
					</div>
				</div>

				<div class="input-container">
					<h4>Bill Depth (mm):</h4>
					<div class="slide-container">
						<input type="range" min="0" max="30" value="15" class="slider" name="bill_depth_mm">
						<div class="value"></div>
						<span class="tooltip">15</span>
					</div>
					
				</div>

				<div class="input-container">
					<h4>Flipper Length (mm):</h4>
					<div class="slide-container">
						<input type="range" min="100" max="300" value="200" class="slider" name="flipper_length_mm">
						<div class="value"></div>
						<span class="tooltip">200</span>
					</div>
					
				</div>

				<div class="input-container">
					<h4>Body Mass (g):</h4>
					<div class="slide-container">
						<input type="range" min="1000" max="8000" value="4500" class="slider" name="body_mass_g" data-measure="g">
						<div class="value"></div>
						<span class="tooltip">4500</span>
					</div>
					
				</div>

				<hr>

				<div class="input-container">
					<h4>Sex:</h4>
					<div class="radio-layout" style="justify-content: space-around;">
						<label>
							<input type="radio" name="sex" value="male">
							<span class="radio-label"><span>Male</span></span>
						</label>

						<label>
							<input type="radio" name="sex" value="female">
							<span class="radio-label"><span>Female</span></span> 
						</label>

					</div>
				</div>

				<div class="input-container">
					<div class="btn-container">
						<input type="submit" name="" value="Apply" class="btn">
					</div>
				</div>

			</form>
		</div>
		<div class="alert">
			<div class="alert-container">
				<h4>Missing input. Please fill in your input!</h4>
				<button type="button" class="alert-btn">Close</button>
			</div>
		</div>
	</div>

	<div id="result" class="filter-container result-container">
		<div data-prediction="Adelie" class="filter-inner hidden">
			<img src="{% static 'image/Adelie.jpg' %}">
			<h4>Adelie Penguin</h4>
		</div>

		<div data-prediction="Gentoo" class="filter-inner hidden">
			
			<img src="{% static 'image/Gentooo.jpg' %}">
			<h4>Gentoo Penguin</h4>
		</div>

		<div data-prediction="Chinstrap" class="filter-inner hidden">
			
			<img src="{% static 'image/Chinstrap.jpg' %}">
			<h4>Chinstrap Penguin</h4>
		</div>

	</div>

	<div class="loading">
		<div class="circle circle-1"></div>
		<div class="circle circle-2"></div>
		<div class="circle circle-3"></div>
	</div>

	
	<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>

</body>
</html>